.article {
  max-width: var(--el-max-width);
  margin: 62px 0 60px;

  &__expanse {
    padding: 17px 0 0;
  }

  &__text {
    margin: 17px 0 0;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2; // 24px;

    opacity: 0.6;
  }

  &__hidden-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
  }
}

@media screen and (width <= 768px) {
  .article {
    margin-top: 50px;
  }

  .article__text {
    margin-top: 13px;
    font-size: 16px;
  }

  // .article__expanse {
  //   padding: 17px 0 0;
  // }
}

@media screen and (width <= 530px) {
  .article {
    margin-bottom: 50px;
  }

  .article__text {
    margin-top: 20px;
    font-size: 14px;
  }

  .article__expanse {
    padding: 7px 0 0;
  }
}
