.button {
  width: min-content;
  padding: 14px 40px;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.2; // 26.4px;
  color: var(--black);
  white-space: nowrap;

  background-color: var(--yellow);
  border-radius: 100px;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }

  @media screen and (width <= 500px) {
    padding: 7px 40px;
    font-size: 16px;
  }
}
